<div class="article-row <%= className %>">
    <div class="article-info">
        <a href="/articulo/<%= article.slug %>" class="article-title">
            <h2><%= article.title %></h2>
        </a>
    </div>
</div>
