<div class="episode-single <%= className %>">
    <div class="wrapper">
        <div class="episode-cover">
            <img src="<%= episode.image %>" alt="cover">
        </div>
        <div class="episode-info">
            <h2><%= episode.title %></h2>
            <div class="rich-text">
                <%= episode.text %>
            </div>
        </div>
    </div>
</div>
