<footer id="footer">
    <div class="wrapper">
        <ul class="listen-on">
            <li class="rss">
                <a
                    rel="noopener noreferrer"
                    target="_blank"
                    href="<%= podcast.feedBurner %>">
                    <i class="fas fa-rss"></i>rss
                </a>
            </li>
            <li class="itunes">
                <a 
                    rel="noopener noreferrer"
                    target="_blank"
                    href="<%= podcast.iTunesURL %>">
                    <i class="fas fa-podcast"></i>iTunes
                </a>
            </li>
        </ul>
    </div>
</footer>
