<header id="header">
    <div class="wrapper">
        <img class="mini-logo" src="img/mini-logo.svg" alt="DDP">
        <nav>
            <ul>
                <li><a href="">about</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">ellugar</a></li>
            </ul>
        </nav>
        <%- include social %>
    </div>
</header>
