<header id="header">
    <div class="wrapper">
        <a href="/">
            <img class="mini-logo" src="/img/mini-logo.svg" alt="home">
        </a>
        <nav>
            <ul>
                <li><a href="/acerca-de">Acerca de</a></li>
                <li><a href="/articulo/detras-del-pixel">blog</a></li>
                <li><a rel="noopener noreferrer" target="_blank"  href="https://ellugar.co">ellugar</a></li>
            </ul>
        </nav>
        <%- include social %>
    </div>
</header>
