<ul class="podcast-links">
    <li>
        <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/afk_mcz" class="tw">
            <i class="fab fa-twitter"></i> Twitter
        </a>
    </li>
    <li>
        <a rel="noopener noreferrer" target="_blank" href="https://facebook.com/detras-del-pixel" class="fb">
            <i class="fab fa-facebook"></i> Facebook
        </a>
    </li>
    <li>
        <a rel="noopener noreferrer" target="_blank" href="https://instagram.com/detras-del-pixel" class="ig">
            <i class="fab fa-instagram"></i> Instagram
        </a>
    </li>
    <li class="itunes">
        <a 
            rel="noopener noreferrer"
            target="_blank"
            href="<%= podcast.iTunesURL %>">
            <i class="fas fa-podcast"></i>iTunes
        </a>
    </li>
    <li class="spotify">
        <a 
            rel="noopener noreferrer"
            target="_blank"
            href="<%= podcast.spotify %>">
            <i class="fab fa-spotify"></i>Spotify
        </a>
    </li>
    <li>
        <a 
            rel="noopener noreferrer"
            target="_blank"
            class="icon google"
            href="<%= podcast.googlePodcast %>">
            <% include ../partials/google %><span>Google</span>
        </a>
    </li>
    <li class="rss">
        <a
            rel="noopener noreferrer"
            target="_blank"
            href="<%= podcast.feedBurner %>">
            <i class="fas fa-rss"></i>rss
        </a>
    </li>
</ul>
