<aside class="sidebar hide-mobile">
    <ul>
    <% list.reverse().forEach(function(episode, i){ %>
        <li>
            <a
                href="/episodio/<%= episode.slug %>">
                <%= episode.title %>
            </a>
        </li>
    <% }); %>
    </ul>
</aside>
