<ul class="social">
    <li class="ellugar">
        <a rel="noopener noreferrer" target="_blank"  href="https://ellugar.co">
            <img src="/img/ellugar.svg" alt="ellugar">
        </a>
    </li>
    <li>
        <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/afk_mcz" class="">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li>
        <a rel="noopener noreferrer" target="_blank" href="https://facebook.com/detras-del-pixel" class="">
            <i class="fab fa-facebook"></i>
        </a>
    </li>
    <li>
        <a rel="noopener noreferrer" target="_blank" href="https://instagram.com/detrasdelpixel" class="">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
</ul>
