:root {
  --wrapper-width: 85%;
  --margin: 20px;
  --half-margin: calc(20px / 2);
  --double-margin: calc(20px * 2);

  --max-width: 800px;

  --black: #000000;
  --white: #ffffff;
  --super-light-gray: whitesmoke;
  --light-gray: #e8e8e8;
  --dark-gray: #1d1d1d;
  --gray: #a8a8a8;

  --highlight-yellow: #fff200;
  --highlight-pink: #ff3168;
  --highlight-blue: #00a5ff;

  --highlight: var(--highlight-yellow);
  --highlight-soft: rgba(245, 255, 0, 0.5);

  --header-background-opacity: 0;
  --footer-background-opacity: 1;
  --nav-opacity: 0;

  --gradient-pink-blue: linear-gradient(
    54deg,
    rgba(255, 49, 104, 1) 0%,
    rgba(0, 165, 255, 1) 100%
  );

  --gradient-blue-pink: linear-gradient(
    30deg,
    rgba(0, 165, 255, 1) 0%,
    rgba(255, 49, 104, 1) 100%
  );

  --gradient-ddp: linear-gradient(
    90deg,
    rgba(255, 54, 106, 1) 0%,
    rgba(255, 54, 106, 1) 10%,
    rgba(251, 255, 0, 1) 10%,
    rgba(251, 255, 0, 1) 20%,
    rgba(0, 174, 255, 1) 20%,
    rgba(0, 174, 255, 1) 30%,
    rgba(29, 29, 29, 1) 30%
  );

  --gradient-ddp-small: linear-gradient(
    90deg,
    rgba(255, 54, 106, 1) 0%,
    rgba(255, 54, 106, 1) 7%,
    rgba(251, 255, 0, 1) 7%,
    rgba(251, 255, 0, 1) 13%,
    rgba(0, 174, 255, 1) 13%,
    rgba(0, 174, 255, 1) 20%,
    rgba(29, 29, 29, 1) 20%
  );
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--dark-gray);
  background: var(--white);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  color: black;
  font-size: 0.8em;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
}

main {
  margin: 75px 0 25px 0;
}

.wrapper {
  width: var(--wrapper-width);
  max-width: var(--max-width);
}

ul {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 40em) {
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 40em) {
  .hide-desktop {
    display: none !important;
  }
}
a i {
  color: var(--light-gray);
  margin-right: var(--half-margin);
  -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  text-shadow: none;
  /* font-size: 0.9em; */
}

a:hover i {
  color: var(--dark-gray);
}

.download:hover i {
  /* color: var(--highlight-yellow); */
}

.listen:hover i {
  /* color: var(--highlight-pink); */
}

.rss:hover i {
  color: var(--highlight-pink);
}

.itunes:hover i {
  color: var(--highlight-blue);
}
.rich-text {
  max-width: var(--max-width);
  font-size: 1em;
  margin: auto;
}

.rich-text > :first-child {
  margin-top: var(--margin);
}

.rich-text > :last-child {
  margin-bottom: 0px;
}

.rich-text.no-margin > :first-child {
  margin-top: 0px;
}

.rich-text *::-moz-selection {
  color: var(--color1);
  background: var(--highlight-soft);
}

.rich-text *::selection {
  color: var(--color1);
  background: var(--highlight-soft);
}

.rich-text *::-moz-selection {
  color: var(--color1);
  background: var(--highlight-soft);
}

.rich-text ul {
  margin: var(--margin) 0 var(--margin) 0;
  list-style: none;
  padding: 0;
}

.rich-text ul li {
  font-size: 1em;
  max-width: var(--max-text-width);
  line-height: 1.8em;
  margin: 0 0 var(--half-margin) 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.rich-text ul li:before {
  content: '- ';
}

.rich-text ul li a {
  font-size: 1em;
}

.rich-text ul li p {
  display: inline;
  font-size: 1em;
}

.rich-text h1 {
  width: 100%;
  text-align: left;
}

.rich-text h2 {
  margin: 10px 0 10px 0;
}

.rich-text h3 {
  width: 100%;
}

.rich-text p a {
  font-size: 1em;
}

.rich-text p:first-child img {
  display: none;
}

.rich-text blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  margin-bottom: var(--margin);
  border-left: 2px solid var(--highlight-blue);
}

.rich-text blockquote p {
  color: $gray3;
  margin: 0;
}

.rich-text pre {
  background-color: var(--gray1);
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin: var(--margin) auto var(--margin) auto;
  border-left: 2px solid var(--highlight-blue);
}

.rich-text pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}

.rich-text hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-color: var(--highlight-blue);
}

.rich-text code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}

.rich-text img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rich-text a {
  color: var(--color1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: $gray1;
  z-index: 2;
}

.rich-text a::before {
  width: 0%;
  height: 100%;
  z-index: -1;
  background: var(--gray1);
  content: '';
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.rich-text a:hover,
.rich-text a.active {
  color: var(--color1);
}

.rich-text a:hover::before,
.rich-text a.active::before {
  width: 100%;
  background: var(--highlight-soft);
}

@media screen and (max-width: 40em) {
  .rich-text ul li {
    width: 100%;
  }
  .rich-text h1 {
    font-size: 1.4em;
  }
  .rich-text h2 {
    font-size: 1.2em;
  }
  .rich-text h3 {
    font-size: 1.1em;
  }
}
#header {
  /* margin: 0 0 var(--margin); */
  background: rgba(255, 255, 255, var(--header-background-opacity));
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: var(--half-margin);
}

#header .wrapper {
  width: 95%;
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}

#header .mini-logo {
  width: 35px;
  height: auto;
  display: block;
  margin: 0;
}

#header nav {
  opacity: var(--nav-opacity);
}

#header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

#header nav li:not(:last-child) {
  margin-right: var(--margin);
}

#header nav a {
  text-decoration: none;
  color: var(--gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
}

#header a:hover {
  color: var(--dark-gray);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: none;
}

@media screen and (max-width: 30em) {
  #header {
    font-size: 0.85em;
  }

  #header .wrapper {
    width: 100%;
  }

  #header .mini-logo {
    width: 30px;
  }

  #header nav li:not(:last-child) {
    margin-right: var(--half-margin);
  }
}

@media screen and (max-width: 25em) {
  #header {
    font-size: 0.7em;
  }

  #header .mini-logo {
    width: 25px;
  }
}
#footer {
  background: rgba(255, 255, 255, var(--footer-background-opacity));
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  padding: var(--half-margin);
}

#footer .wrapper {
  width: 95%;
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 30em) {
  #footer {
    font-size: 0.85em;
  }

  #footer .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 25em) {
  #footer {
    font-size: 0.7em;
  }
}
.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.social a {
  text-decoration: none;
  color: var(--light-gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
}

.social a i {
  margin: 0;
}

.social li:not(:last-child) {
  margin-right: var(--margin);
}

.social a:hover {
  color: var(--dark-gray);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

@media screen and (max-width: 30em) {
  .social li:not(:last-child) {
    margin-right: var(--half-margin);
  }
}
.listen-on {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.listen-on a {
  text-decoration: none;
  color: var(--gray);
  -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
}

.listen-on li:not(:last-child) {
  margin-right: var(--margin);
}

.listen-on a:hover {
  color: var(--dark-gray);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  text-shadow: none;
}
.main-about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto var(--double-margin) auto;
  background: white;
}

.main-about img {
  width: 50%;
  /* opacity: 0; */
  /* background: var(--dark-gray); */
}

.main-about .description {
  color: var(--dark-gray);
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-size: 2em;
  padding: var(--margin);
  width: calc(50% - var(--margin));
}

.main-about .description h1 {
  margin: 0;
  display: inline;
  font-size: 1.2em;
}

.main-about .description a {
  font-weight: 600;
  text-decoration: none;
  border-bottom: 4px solid var(--light-gray);
  color: var(--black);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-about .description a:hover {
  border-color: black;
}

@media screen and (max-width: 40em) {
  .main-about .wrapper {
    margin: 0 auto var(--margin) auto;
  }

  .main-about img {
    width: 100%;
  }

  .main-about .description {
    width: 100%;
    padding: 0;
    font-size: 1.3em;
  }
}
.episode-single {
  width: 100%;
  /* margin: 0 0 var(--double-margin) 0; */
  padding-bottom: var(--double-margin);
  -webkit-transition: color 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: color 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, color 0.2s ease;
  transition: box-shadow 0.2s ease, color 0.2s ease,
    -webkit-box-shadow 0.2s ease;
  cursor: pointer;
  position: relative;
}

.episode-single h2 {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.episode-single:hover h2 {
  /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.33); */
  /* color: var(--highlight-pink); */
  /* transform: translateY(-4px); */
}

.episode-single:not(:first-child):not(.active):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--super-light-gray);
  /* background-image: var(--gradient-ddp-small); */
  height: 2px;
}
/* .episode-single:not(:first-child):not(.active):before { */

.episode-single:not(:first-child) {
  padding-top: var(--double-margin);
}

.episode-single .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  max-width: none;
}

.episode-single.active {
  width: calc(100% + var(--margin));
  background: var(--white);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.33);
  margin: 0 0 var(--margin) calc(-1 * var(--half-margin));
  padding: 0;
  color: var(--dark-gray);
  cursor: default;
}

.episode-single.active:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.episode-single.active + .episode-single {
  padding-top: var(--margin);
}

.episode-single.active + .episode-single:before {
  background: transparent;
}

.episode-cover {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: var(--margin);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.episode-cover img {
  background: var(--light-gray);
}

.episode-single.active .episode-cover {
  width: 30%;
}

.episode-info {
  width: calc(80% - var(--margin));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.active .episode-info {
  width: calc(70% - var(--double-margin));
}

.episode-info .episode-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.episode-info .episode-links a {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-decoration: none;
  color: var(--gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  padding: var(--half-margin);
  border: 2px solid var(--super-light-gray);
  border-radius: 100px;
  cursor: pointer;
}

.episode-info .episode-links a:not(:last-child) {
  margin-right: var(--half-margin);
}

.episode-info .episode-links a:hover {
  color: var(--dark-gray);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: none;
}

.active .episode-info .episode-links {
  padding-bottom: var(--margin);
}

.episode-description {
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
}

.active .episode-description {
  height: auto;
  position: relative;
  padding: var(--half-margin);
  background: var(--super-light-gray);
  /* border-top: 4px solid var(--dark-gray); */
}

.active .episode-description:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: var(--gradient-ddp);
  height: 3px;
}

@media screen and (max-width: 40em) {
  .episode-cover {
    width: 30%;
    margin-right: var(--half-margin);
  }

  .episode-single h2 {
    font-size: 1em;
  }

  .episode-info,
  .active .episode-info {
    width: calc(70% - var(--half-margin));
  }

  .episode-info .episode-links a {
    text-align: left;
    padding: 0;
    border: none;
    border-radius: 0px;
    font-size: 0.8em;
  }

  .episode-info .episode-links a:not(:last-child) {
    margin-right: 0;
  }

  .active .episode-info .episode-links {
    padding-bottom: var(--half-margin);
  }
}
.episode-list {
  width: var(--wrapper-width);
  max-width: var(--max-width);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

/*# sourceMappingURL=../ddp/main.map*/
