:root {
  --wrapper-width: 85%;
  --margin: 20px;
  --half-margin: 10px;
  --double-margin: 40px;
  --max-width: 800px;
  --black: #000;
  --white: #fff;
  --super-light-gray: #f5f5f5;
  --light-gray: #e8e8e8;
  --dark-gray: #1d1d1d;
  --gray: #a8a8a8;
  --highlight-yellow: #fff200;
  --highlight-pink: #ff3168;
  --highlight-blue: #00a5ff;
  --highlight: #fff200;
  --highlight: var(--highlight-yellow);
  --highlight-soft: rgba(245, 255, 0, 0.5);
  --header-background-opacity: 1;
  --footer-background-opacity: 1;
  --footer-position: 0%;
  --nav-opacity: 1;
  --gradient-pink-blue: linear-gradient(54deg, #ff3168, #00a5ff);
  --gradient-blue-pink: linear-gradient(30deg, #00a5ff, #ff3168);
  --gradient-ddp: linear-gradient(
    90deg,
    #ff366a,
    #ff366a 10%,
    #fbff00 0,
    #fbff00 20%,
    #00aeff 0,
    #00aeff 30%,
    #1d1d1d 0
  );
  --gradient-ddp-small: linear-gradient(
    90deg,
    #ff366a,
    #ff366a 7%,
    #fbff00 0,
    #fbff00 13%,
    #00aeff 0,
    #00aeff 20%,
    #1d1d1d 0
  );
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  background: #fff;
  background: var(--white);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper {
  width: 85%;
  width: var(--wrapper-width);
  max-width: 800px;
  max-width: var(--max-width);
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 40em) {
  .hide-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 40em) {
  .hide-desktop {
    display: none !important;
  }
}
a i {
  color: #e8e8e8;
  color: var(--light-gray);
  margin-right: 10px;
  margin-right: var(--half-margin);
  -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  text-shadow: none;
}
a:hover i {
  color: #1d1d1d;
  color: var(--dark-gray);
}
.rss:hover i {
  color: #ff3168;
  color: var(--highlight-pink);
}
.itunes:hover i {
  color: #00a5ff;
  color: var(--highlight-blue);
}
.rich-text {
  max-width: 800px;
  max-width: var(--max-width);
  font-size: 1em;
  margin: auto;
}
.rich-text > :first-child {
  margin-top: 20px;
  margin-top: var(--margin);
}
.rich-text > :last-child {
  margin-bottom: 0;
}
.rich-text.no-margin > :first-child {
  margin-top: 0;
}
.rich-text ::selection {
  color: #1d1d1d;
  color: var(--dark-gray);
  background: rgba(245, 255, 0, 0.5);
  background: var(--highlight-soft);
}
.rich-text ::-moz-selection {
  color: #1d1d1d;
  color: var(--dark-gray);
  background: rgba(245, 255, 0, 0.5);
  background: var(--highlight-soft);
}
.rich-text ul {
  margin: 20px 0;
  margin: var(--margin) 0;
  list-style: none;
  padding: 0;
}
.rich-text ul li {
  font-size: 1em;
  max-width: 800px;
  max-width: var(--max-width);
  line-height: 1.8em;
  margin: 0 0 10px;
  margin: 0 0 var(--half-margin);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.rich-text ul li:before {
  content: '- ';
}
.rich-text ul li a {
  font-size: 1em;
}
.rich-text ul li p {
  display: inline;
  font-size: 1em;
}
.rich-text h1 {
  width: 100%;
  text-align: left;
}
.rich-text h2 {
  margin: 10px 0;
}
.rich-text h3 {
  width: 100%;
}
.rich-text p a {
  font-size: 1em;
}
.rich-text p:first-child img {
  display: none;
}
.rich-text blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  margin-bottom: 20px;
  margin-bottom: var(--margin);
  border-left: 2px solid #00a5ff;
  border-left: 2px solid var(--highlight-blue);
}
.rich-text blockquote p {
  color: $gray3;
  margin: 0;
}
.rich-text pre {
  background-color: #e8e8e8;
  background-color: var(--light-gray);
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin: 20px auto;
  margin: var(--margin) auto;
  border-left: 2px solid #00a5ff;
  border-left: 2px solid var(--highlight-blue);
}
.rich-text pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}
.rich-text hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-color: #00a5ff;
  border-color: var(--highlight-blue);
}
.rich-text code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}
.rich-text img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.rich-text a,
.rich-text img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.rich-text a {
  color: #1d1d1d;
  color: var(--dark-gray);
  font-weight: bolder;
  border-bottom: 4px solid #e8e8e8;
  border-bottom: 4px solid var(--light-gray);
  position: relative;
  z-index: 2;
  text-decoration: none;
}
.rich-text a,
.rich-text a:before {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.rich-text a:before {
  width: 0;
  height: 100%;
  z-index: -1;
  background: #e8e8e8;
  background: var(--light-gray);
  content: '';
  position: absolute;
  bottom: 0;
}
.rich-text a:hover {
  border-color: #000;
}
.rich-text a.active,
.rich-text a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
}
.rich-text a.active:before,
.rich-text a:hover:before {
  width: 100%;
  background: rgba(245, 255, 0, 0.5);
  background: var(--highlight-soft);
}
@media screen and (max-width: 40em) {
  .rich-text ul li {
    width: 100%;
  }
  .rich-text h1 {
    font-size: 1.4em;
  }
  .rich-text h2 {
    font-size: 1.2em;
  }
  .rich-text h3 {
    font-size: 1.1em;
  }
  .rich-text a {
    border-bottom: 2px solid #e8e8e8;
    border-bottom: 2px solid var(--light-gray);
  }
}
#header {
  background: #fff;
  background: rgba(255, 255, 255, var(--header-background-opacity));
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 10px;
  padding: var(--half-margin);
}
#header .wrapper {
  width: 95%;
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}
#header .mini-logo {
  width: 35px;
  height: auto;
  display: block;
  margin: 0;
}
#header nav {
  opacity: 1;
  opacity: var(--nav-opacity);
  position: fixed;
  left: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}
#header nav,
#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header nav ul {
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
#header nav li:not(:last-child) {
  margin-right: 20px;
  margin-right: var(--margin);
}
#header nav a {
  text-decoration: none;
  color: #a8a8a8;
  color: var(--gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
}
#header a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: none;
}
@media screen and (max-width: 30em) {
  #header {
    font-size: 0.85em;
  }
  #header .wrapper {
    width: 100%;
  }
  #header .mini-logo {
    width: 30px;
  }
  #header nav li:not(:last-child) {
    margin-right: 10px;
    margin-right: var(--half-margin);
  }
}
@media screen and (max-width: 25em) {
  #header {
    font-size: 0.7em;
  }
  #header .mini-logo {
    width: 25px;
  }
}
#footer {
  background: #fff;
  background: rgba(255, 255, 255, var(--footer-background-opacity));
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  padding: 10px;
  padding: var(--half-margin);
}
#footer .wrapper {
  width: 95%;
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}
@media screen and (max-width: 30em) {
  #footer {
    font-size: 0.85em;
  }
  #footer .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 25em) {
  #footer {
    font-size: 0.7em;
  }
}
.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.social a {
  text-decoration: none;
  color: #e8e8e8;
  color: var(--light-gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
}
.social a i {
  margin: 0;
}
.social li:not(:last-child) {
  margin-right: 20px;
  margin-right: var(--margin);
}
.social a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
@media screen and (max-width: 30em) {
  .social li:not(:last-child) {
    margin-right: 10px;
    margin-right: var(--half-margin);
  }
}
.listen-on {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.listen-on a {
  text-decoration: none;
  color: #a8a8a8;
  color: var(--gray);
  -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
}
.listen-on li:not(:last-child) {
  margin-right: 20px;
  margin-right: var(--margin);
}
.listen-on a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  text-shadow: none;
}
.home {
  margin: 60px 0 40px;
  margin: calc(var(--double-margin) + var(--margin)) 0 var(--double-margin);
}
.main-about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto 40px;
  margin: 0 auto var(--double-margin);
}
.main-about img {
  width: 50%;
}
.main-about .description {
  color: #1d1d1d;
  color: var(--dark-gray);
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-size: 1.9em;
  margin-left: 20px;
  margin-left: var(--margin);
  width: calc(50% - 20px);
  width: calc(50% - var(--margin));
}
.main-about .description p:first-child {
  margin-top: 0;
}
.main-about .description p:last-child {
  margin-bottom: 0;
}
.main-about .description h1 {
  margin: 0;
  display: inline;
  font-size: 1.2em;
}
.main-about .description a {
  color: #000;
  color: var(--black);
}
@media screen and (max-width: 40em) {
  .main-about .wrapper {
    margin: 0 auto 20px;
    margin: 0 auto var(--margin);
  }
  .main-about img {
    width: 100%;
  }
  .main-about .description {
    width: 100%;
    padding: 0;
    font-size: 1.3em;
    margin-left: 0;
    margin-top: 20px;
    margin-top: var(--margin);
  }
}
.episode-main {
  margin: 60px 0 40px;
  margin: calc(var(--double-margin) + var(--margin)) 0 var(--double-margin);
}
.episode-main > .wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.acerca-de {
  margin: 60px 0 40px;
  margin: calc(var(--double-margin) + var(--margin)) 0 var(--double-margin);
}
.acerca-de > .wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.acerca-de .logo {
  width: 35%;
  min-height: 200px;
  background: #e8e8e8;
  background: var(--light-gray);
  border: 10px solid #f5f5f5;
  border: var(--half-margin) solid var(--super-light-gray);
  margin-bottom: 40px;
  margin-bottom: var(--double-margin);
}
.acerca-de .logo,
.acerca-de .rich-text {
  max-width: 800px;
  max-width: var(--max-width);
}
.acerca-de .rich-text {
  font-size: 1em;
  margin: auto;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 40px;
  padding: var(--double-margin);
  background: #f5f5f5;
  background: var(--super-light-gray);
}
.acerca-de .rich-text p:first-child {
  margin-top: 0;
}
.acerca-de .rich-text p:last-child {
  margin-bottom: 0;
}
.acerca-de .rich-text a {
  color: #000;
  color: var(--black);
}
.podcast-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 20px;
  margin-bottom: var(--margin);
}
.podcast-links li {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.podcast-links li:not(:last-child) {
  margin-right: 10px;
  margin-right: var(--half-margin);
}
.podcast-links a {
  width: 100%;
  text-decoration: none;
  color: #a8a8a8;
  color: var(--gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  padding: 10px;
  padding: var(--half-margin);
  border: 2px solid #f5f5f5;
  border: 2px solid var(--super-light-gray);
  border-radius: 100px;
}
.podcast-links a:not(:last-child) {
  margin-right: 10px;
  margin-right: var(--half-margin);
}
.podcast-links a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: none;
}
@media screen and (max-width: 40em) {
  .acerca-de .logo {
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: var(--margin);
    border: none;
  }
  .podcast-links li {
    width: 100%;
  }
  .podcast-links li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
    margin-bottom: var(--half-margin);
  }
  .podcast-links a {
    padding: 5px;
  }
  .acerca-de .rich-text {
    font-size: 1em;
    padding: 20px 10px;
    padding: var(--margin) var(--half-margin);
  }
}
.e404 {
  margin: 0;
}
.e404 .wrapper {
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.e404 .rich-text {
  margin: 0;
}
.episode-single {
  width: 100%;
  padding-bottom: 40px;
  padding-bottom: var(--double-margin);
  -webkit-transition: color 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: color 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, color 0.2s ease;
  transition: box-shadow 0.2s ease, color 0.2s ease,
    -webkit-box-shadow 0.2s ease;
  position: relative;
}
.episode-single:not(.active) h2 {
  margin: 0;
}
.episode-single a.episode-title h2 {
  margin-bottom: 0;
  text-decoration: none;
  border-bottom: 4px solid #e8e8e8;
  border-bottom: 4px solid var(--light-gray);
  color: #000;
  color: var(--black);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.episode-single a.episode-title {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.episode-single a.episode-title:before {
  width: 0;
  height: 100%;
  z-index: -1;
  background: #e8e8e8;
  background: var(--light-gray);
  content: '';
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.episode-single a.episode-title:hover:before {
  width: 100%;
  background: rgba(245, 255, 0, 0.5);
  background: var(--highlight-soft);
}
.episode-single a.episode-title:hover h2 {
  border-color: #000;
}
.episode-single:not(:first-child):not(.active):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
  background: var(--super-light-gray);
  height: 2px;
}
.episode-single:not(:first-child) {
  padding-top: 40px;
  padding-top: var(--double-margin);
}
.episode-single .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  max-width: none;
}
.episode-single.active {
  width: calc(100% + 20px);
  width: calc(100% + var(--margin));
  background: #fff;
  background: var(--white);
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
  margin: 0 0 20px -10px;
  margin: 0 0 var(--margin) calc(-1 * var(--half-margin));
  padding: 0;
  color: #1d1d1d;
  color: var(--dark-gray);
  cursor: default;
}
.episode-single.active:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.episode-single.active + .episode-single {
  padding-top: 20px;
  padding-top: var(--margin);
}
.episode-single.active + .episode-single:before {
  background: transparent;
}
.episode-cover {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
  margin-right: var(--margin);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.episode-cover img {
  min-height: 125px;
  background: #e8e8e8;
  background: var(--light-gray);
}
.episode-single.active .episode-cover {
  width: 30%;
}
.episode-info {
  width: calc(80% - 20px);
  width: calc(80% - var(--margin));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.active .episode-info {
  width: calc(70% - 40px);
  width: calc(70% - var(--double-margin));
}
.episode-info .episode-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.episode-info .episode-links a {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-decoration: none;
  color: #a8a8a8;
  color: var(--gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  padding: 10px;
  padding: var(--half-margin);
  border: 2px solid #f5f5f5;
  border: 2px solid var(--super-light-gray);
  border-radius: 100px;
}
.episode-info .episode-links a:not(:last-child) {
  margin-right: 10px;
  margin-right: var(--half-margin);
}
.episode-info .episode-links a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: none;
}
.active .episode-info .episode-links {
  padding-bottom: 20px;
  padding-bottom: var(--margin);
}
.episode-description {
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
}
.active .episode-description {
  height: auto;
  position: relative;
  padding: 10px;
  padding: var(--half-margin);
  background: #f5f5f5;
  background: var(--super-light-gray);
}
.active .episode-description:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff366a),
    color-stop(10%, #ff366a),
    color-stop(10%, #fbff00),
    color-stop(20%, #fbff00),
    color-stop(20%, #00aeff),
    color-stop(30%, #00aeff),
    color-stop(30%, #1d1d1d)
  );
  background-image: linear-gradient(
    90deg,
    #ff366a,
    #ff366a 10%,
    #fbff00 0,
    #fbff00 20%,
    #00aeff 0,
    #00aeff 30%,
    #1d1d1d 0
  );
  background-image: var(--gradient-ddp);
  height: 3px;
}
.episode-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #a8a8a8;
  color: var(--gray);
  font-size: 0.9em;
}
.episode-data span {
  padding-top: 2px;
  padding-bottom: 2px;
}
.episode-data span:not(:first-child) {
  padding-left: 10px;
  padding-left: var(--half-margin);
}
.episode-data span:not(:last-child) {
  border-right: 2px solid #e8e8e8;
  border-right: 2px solid var(--light-gray);
  padding-right: 10px;
  padding-right: var(--half-margin);
}
@media screen and (max-width: 40em) {
  .episode-cover,
  .episode-single.active .episode-cover {
    width: 100%;
    margin-right: 0;
  }
  .episode-cover img {
    min-height: 0;
  }
  .active .episode-info,
  .episode-info {
    width: calc(100% - 20px);
    width: calc(100% - var(--margin));
    margin: auto;
  }
  .episode-info .episode-data,
  .episode-info .episode-title {
    margin-bottom: 20px;
    margin-bottom: var(--margin);
  }
  .episode-info .episode-links a {
    padding: 5px;
  }
  .episode-single a.episode-title h2 {
    margin-top: 20px;
    margin-top: var(--margin);
  }
}
.episode-list {
  width: 85%;
  width: var(--wrapper-width);
  max-width: 800px;
  max-width: var(--max-width);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

/*# sourceMappingURL=app.map*/
