:root {
  --wrapper-width: calc(95% - 130px);
  --wrapper-width: calc(95% - var(--margin) - 70px - var(--double-margin));
  --margin: 20px;
  --half-margin: 10px;
  --half-margin: calc(var(--margin) / 2);
  --quarter-margin: 5px;
  --quarter-margin: calc(var(--margin) / 4);
  --double-margin: 40px;
  --double-margin: calc(var(--margin) * 2);
  --4-margin: 80px;
  --4-margin: calc(var(--margin) * 4);
  --max-width: 800px;
  --max-width-wide: 1024px;
  --black: #000;
  --white: #fff;
  --super-light-gray: #f5f5f5;
  --light-gray: #e8e8e8;
  --dark-gray: #1d1d1d;
  --gray: #a8a8a8;
  --white-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0%, #fff);
  --highlight-yellow: #fff200;
  --highlight-pink: #ff3168;
  --highlight-blue: #00a5ff;
  --highlight-green: #17d85f;
  --highlight: #fff200;
  --highlight: var(--highlight-yellow);
  --highlight-soft: rgba(245, 255, 0, 0.5);
  --header-background-opacity: 1;
  --footer-background-opacity: 1;
  --footer-position: 0%;
  --nav-opacity: 1;
  --twitter: #059ff6;
  --facebook: #39579b;
  --instagram: #fd8400;
  --gradient-pink-blue: linear-gradient(54deg, #ff3168, #00a5ff);
  --gradient-blue-pink: linear-gradient(30deg, #00a5ff, #ff3168);
  --gradient-ddp: linear-gradient(
    90deg,
    #ff366a,
    #ff366a 10%,
    #fbff00 0,
    #fbff00 20%,
    #00aeff 0,
    #00aeff 30%,
    #1d1d1d 0
  );
  --gradient-ddp-small: linear-gradient(
    90deg,
    #ff366a,
    #ff366a 7%,
    #fbff00 0,
    #fbff00 13%,
    #00aeff 0,
    #00aeff 20%,
    #1d1d1d 0
  );
  --font: 'Roboto', sans-serif;
  --font-title: 'Montserrat', sans-serif;
  --font-fixed: 'Roboto Mono', monospace;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-family: var(--font);
  background: #fff;
  background: var(--white);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat, sans-serif;
  font-family: var(--font-title);
}
img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper {
  width: calc(95% - 130px);
  width: var(--wrapper-width);
  max-width: 800px;
  max-width: var(--max-width);
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 40em) {
  .hide-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 40em) {
  .hide-desktop {
    display: none !important;
  }
}
@media screen and (max-width: 40em) {
  .wrapper {
    width: 90%;
  }
}
.podcast-links a.google {
  padding: 7px;
}
.google:not(:hover) .google-podcast-circles * {
  fill: #ccc;
}
.google-podcast-icon {
  margin-right: 5px;
  display: inline-block;
  width: 25px;
}
@media (max-width: 670px) {
  .podcast-links a.google {
    padding: 2px;
  }
}
.episode-info .episode-links a,
.listen-on a,
.podcast-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
a i {
  color: #e8e8e8;
  color: var(--light-gray);
  margin-right: 10px;
  margin-right: var(--half-margin);
  -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  text-shadow: none;
}
a:hover i {
  color: #1d1d1d;
  color: var(--dark-gray);
}
.rss:hover i {
  color: #ff3168;
  color: var(--highlight-pink);
}
.itunes:hover i {
  color: #00a5ff;
  color: var(--highlight-blue);
}
.spotify:hover i {
  color: #17d85f;
  color: var(--highlight-green);
}
.rich-text {
  max-width: 800px;
  max-width: var(--max-width);
  font-size: 1em;
  margin: auto;
}
.rich-text > :first-child {
  margin-top: 20px;
  margin-top: var(--margin);
}
.rich-text > :last-child {
  margin-bottom: 0;
}
.rich-text.no-margin > :first-child {
  margin-top: 0;
}
.rich-text ::selection {
  color: #1d1d1d;
  color: var(--dark-gray);
  background: rgba(245, 255, 0, 0.5);
  background: var(--highlight-soft);
}
.rich-text ::-moz-selection {
  color: #1d1d1d;
  color: var(--dark-gray);
  background: rgba(245, 255, 0, 0.5);
  background: var(--highlight-soft);
}
.rich-text ul {
  margin: 20px 0;
  margin: var(--margin) 0;
  list-style: none;
  padding: 0;
}
.rich-text ul li {
  font-size: 1em;
  max-width: 800px;
  max-width: var(--max-width);
  line-height: 1.8em;
  margin: 0 0 10px;
  margin: 0 0 var(--half-margin);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.rich-text ul li:before {
  content: '- ';
}
.rich-text ul li a {
  font-size: 1em;
}
.rich-text ul li p {
  display: inline;
  font-size: 1em;
}
.rich-text h1 {
  width: 100%;
  text-align: left;
}
.rich-text h2 {
  margin: 20px 0;
  margin: var(--margin) 0;
}
.rich-text h3 {
  width: 100%;
}
.rich-text p a {
  font-size: 1em;
}
.rich-text p:first-child img {
  display: none;
}
.rich-text blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  margin-bottom: 20px;
  margin-bottom: var(--margin);
  border-left: 2px solid #00a5ff;
  border-left: 2px solid var(--highlight-blue);
}
.rich-text blockquote p {
  color: $gray3;
  margin: 0;
}
.rich-text pre {
  background-color: #e8e8e8;
  background-color: var(--light-gray);
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin: 20px auto;
  margin: var(--margin) auto;
  border-left: 2px solid #00a5ff;
  border-left: 2px solid var(--highlight-blue);
}
.rich-text pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}
.rich-text hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-color: #00a5ff;
  border-color: var(--highlight-blue);
}
.rich-text code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}
.rich-text img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.rich-text a,
.rich-text img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.rich-text a {
  color: #1d1d1d;
  color: var(--dark-gray);
  font-weight: bolder;
  border-bottom: 4px solid #e8e8e8;
  border-bottom: 4px solid var(--light-gray);
  position: relative;
  z-index: 2;
  text-decoration: none;
}
.rich-text a,
.rich-text a:before {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.rich-text a:before {
  width: 0;
  height: 100%;
  z-index: -1;
  background: #e8e8e8;
  background: var(--light-gray);
  content: '';
  position: absolute;
  bottom: 0;
}
.rich-text a:hover {
  border-color: #000;
}
.rich-text a.active,
.rich-text a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
}
.rich-text a.active:before,
.rich-text a:hover:before {
  width: 100%;
  background: rgba(245, 255, 0, 0.5);
  background: var(--highlight-soft);
}
.rich-text iframe {
  width: 100%;
  height: 560px;
}
@media (max-width: 670px) {
  .rich-text ul li {
    width: 100%;
  }
  .rich-text h1 {
    font-size: 1.4em;
  }
  .rich-text h2 {
    font-size: 1.2em;
  }
  .rich-text h3 {
    font-size: 1.1em;
  }
  .rich-text a {
    border-bottom: 2px solid #e8e8e8;
    border-bottom: 2px solid var(--light-gray);
  }
}
#header {
  background: #fff;
  background: rgba(255, 255, 255, var(--header-background-opacity));
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 10px;
  padding: var(--half-margin);
}
#header .wrapper {
  width: 95%;
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}
#header .mini-logo {
  width: 35px;
  height: auto;
  display: block;
  margin: 0;
}
#header nav {
  opacity: 1;
  opacity: var(--nav-opacity);
  position: fixed;
  left: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}
#header nav,
#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header nav ul {
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
#header nav i {
  font-size: 0.9em;
}
#header nav li:not(:last-child) {
  margin-right: 20px;
  margin-right: var(--margin);
}
#header nav a {
  text-decoration: none;
  color: #a8a8a8;
  color: var(--gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
}
#header a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: none;
}
#header nav .blog:hover i {
  color: #ff3168;
  color: var(--highlight-pink);
}
#header nav .faq:hover i {
  color: #000;
  color: var(--black);
}
#header nav .about:hover i {
  color: #00a5ff;
  color: var(--highlight-blue);
}
#header .ellugar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#header .ellugar img {
  height: 18px;
}
@media screen and (max-width: 30em) {
  #header {
    font-size: 0.85em;
  }
  #header .wrapper {
    width: 100%;
  }
  #header .mini-logo {
    width: 30px;
  }

  #header nav li:not(:last-child) {
    margin-right: 10px;
    margin-right: var(--half-margin);
  }
}
@media screen and (max-width: 25em) {
  #header {
    font-size: 0.7em;
  }

  #header .mini-logo {
    width: 25px;
  }
  #header nav a {
    font-size: 1.1em;
  }
}
#footer {
  background: #fff;
  background: rgba(255, 255, 255, var(--footer-background-opacity));
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  padding: 10px;
  padding: var(--half-margin);
}
#footer .wrapper {
  width: 95%;
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}
@media screen and (max-width: 30em) {
  #footer {
    font-size: 0.85em;
  }
  #footer .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 25em) {
  #footer {
    font-size: 0.7em;
  }
}
.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.social a {
  text-decoration: none;
  color: #e8e8e8;
  color: var(--light-gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
  opacity: 0.5;
}
.social i.fa-twitter {
  color: #059ff6;
  color: var(--twitter);
}
.social i.fa-facebook {
  color: #39579b;
  color: var(--facebook);
}
.social i.fa-instagram {
  color: #fd8400;
  color: var(--instagram);
  background: #fd8400;
  background: var(--instagram);
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social a i {
  margin: 0;
}
.social li:not(:last-child) {
  margin-right: 20px;
  margin-right: var(--margin);
}
.social a:hover {
  opacity: 1;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
@media screen and (max-width: 30em) {
  .social li:not(:last-child) {
    margin-right: 10px;
    margin-right: var(--half-margin);
  }
}
.listen-on {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.listen-on a {
  text-decoration: none;
  color: #a8a8a8;
  color: var(--gray);
  -webkit-transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease;
  transition: color 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  font-size: 1.2em;
}
.listen-on li:not(:last-child) {
  margin-right: 20px;
  margin-right: var(--margin);
}
.listen-on a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  text-shadow: none;
}
.home {
  margin: 60px 0 40px;
  margin: calc(var(--double-margin) + var(--margin)) 0 var(--double-margin);
}
.main-about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto 40px;
  margin: 0 auto var(--double-margin);
}
.main-about img {
  width: 50%;
}
.main-about .description {
  color: #1d1d1d;
  color: var(--dark-gray);
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-size: 1.9em;
  margin-left: 20px;
  margin-left: var(--margin);
  width: calc(50% - 20px);
  width: calc(50% - var(--margin));
}
.main-about .description p:first-child {
  margin-top: 0;
}
.main-about .description p:last-child {
  margin-bottom: 0;
}
.main-about .description h1 {
  margin: 0;
  display: inline;
  font-size: 1.2em;
}
.main-about .description a {
  color: #000;
  color: var(--black);
}
@media (max-width: 670px) {
  .main-about .wrapper {
    margin: 0 auto 20px;
    margin: 0 auto var(--margin);
  }
  .main-about img {
    width: 100%;
  }
  .main-about .description {
    width: 100%;
    padding: 0;
    font-size: 1.3em;
    margin-left: 0;
    margin-top: 20px;
    margin-top: var(--margin);
  }
}
.episode-main {
  margin: 60px 0 40px;
  margin: calc(var(--double-margin) + var(--margin)) 0 var(--double-margin);
}
.episode-main > .wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.acerca-de {
  margin: 80px 0 40px;
  margin: var(--4-margin) 0 var(--double-margin);
}
.acerca-de > .wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.acerca-de .logo {
  width: 35%;
  min-height: 200px;
  background: #e8e8e8;
  background: var(--light-gray);
  border: 10px solid #f5f5f5;
  border: var(--half-margin) solid var(--super-light-gray);
  margin-bottom: 40px;
  margin-bottom: var(--double-margin);
}
.acerca-de .logo,
.acerca-de .rich-text {
  max-width: 800px;
  max-width: var(--max-width);
}
.acerca-de .rich-text {
  font-size: 1em;
  margin: auto;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 20px;
  padding: var(--margin);
  background: #f5f5f5;
  background: var(--super-light-gray);
}
.acerca-de .rich-text p:first-child {
  margin-top: 0;
}
.acerca-de .rich-text p:last-child {
  margin-bottom: 0;
}
.acerca-de .rich-text a {
  color: #000;
  color: var(--black);
}
.podcast-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 20px;
  margin-bottom: var(--margin);
}
.podcast-links li {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.podcast-links li:not(:last-child) {
  margin-right: 10px;
  margin-right: var(--half-margin);
}
.podcast-links a {
  width: 100%;
  text-decoration: none;
  color: #a8a8a8;
  color: var(--gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1em;
  text-align: center;
  padding: 10px;
  padding: var(--half-margin);
  border: 2px solid #f5f5f5;
  border: 2px solid var(--super-light-gray);
  border-radius: 100px;
}
.podcast-links a:not(:last-child) {
  margin-right: 10px;
  margin-right: var(--half-margin);
}
.podcast-links a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: none;
}
.podcast-links a:hover i.fa-twitter {
  color: #059ff6;
  color: var(--twitter);
}
.podcast-links a:hover i.fa-facebook {
  color: #39579b;
  color: var(--facebook);
}
.podcast-links a:hover i.fa-instagram {
  color: #fd8400;
  color: var(--instagram);
  background: #fd8400;
  background: var(--instagram);
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1000px) {
  .podcast-links a {
    font-size: 0.8em;
  }
}
@media (max-width: 670px) {
  .acerca-de .logo {
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: var(--margin);
    border: none;
  }
  .podcast-links li {
    width: 100%;
  }
  .podcast-links li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
    margin-bottom: var(--half-margin);
  }
  .podcast-links a {
    padding: 5px;
    font-size: 1em;
  }
  .acerca-de .rich-text {
    font-size: 1em;
    padding: 20px 10px;
    padding: var(--margin) var(--half-margin);
  }
}
.faq-page {
  margin: 80px 0 40px;
  margin: var(--4-margin) 0 var(--double-margin);
}
.faq-page > .wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.faq-page .logo {
  width: 35%;
  min-height: 200px;
  background: #e8e8e8;
  background: var(--light-gray);
  max-width: 800px;
  max-width: var(--max-width);
  border: 10px solid #f5f5f5;
  border: var(--half-margin) solid var(--super-light-gray);
  margin-bottom: 40px;
  margin-bottom: var(--double-margin);
}
.faq-page .rich-text {
  background: #f5f5f5;
  background: var(--super-light-gray);
  padding: 20px;
  padding: var(--margin);
}
.faq-page .rich-text > :first-child {
  margin-top: 0;
}
@media (max-width: 670px) {
  .faq-page .logo {
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: var(--margin);
    border: none;
  }
}
.article-list-main {
  margin: 40px 0;
  margin: var(--double-margin) 0;
}
.article-list-main > .wrapper {
  margin: auto;
  padding-top: 40px;
  padding-top: var(--double-margin);
  width: 80%;
  max-width: 1024px;
  max-width: var(--max-width-wide);
}
.article-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-gap: var(--margin);
}
.articles-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-bottom: var(--double-margin);
}
.articles-info h1 {
  font-size: 5em;
  margin: 0;
  margin-right: 0;
  margin-right: 40px;
  margin-right: var(--double-margin);
}
.articles-info p {
  font-size: 1.2em;
  margin: 0;
}
@media screen and (max-width: 60em) {
  .article-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 40em) {
  .article-list-main > .wrapper {
    width: 90%;
  }
  .articles-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .articles-info h1 {
    margin-bottom: 20px;
    margin-bottom: var(--margin);
  }
  .article-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article-row:not(:first-child) img {
  display: none;
}
.article-row {
  position: relative;
  background: #e8e8e8;
  background: var(--light-gray);
  overflow: hidden;
}
.article-row:first-child {
  grid-column: span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.article-row h2 {
  text-decoration: none;
  color: #000;
  color: var(--black);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  margin-bottom: var(--margin);
}
.article-row .article-date {
  color: #000;
  color: var(--black);
  font-style: italic;
}
.article-row .gradient-white {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsla(0, 0%, 100%, 0)),
    to(#fff)
  );
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff);
  background: var(--white-gradient);
  z-index: 10;
}
.article-row .article-info {
  width: 100%;
  overflow: hidden;
  padding: 20px;
  padding: var(--margin);
}
.article-row .img-wrapper {
  display: block;
  border: 2px solid #e8e8e8;
  border: 2px solid var(--light-gray);
  border-bottom: none;
  min-height: 500px;
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.article-row .rich-text {
  margin: 0;
}
@media screen and (max-width: 60em) {
  .article-row:first-child {
    grid-column: span 2;
  }
}
@media screen and (max-width: 40em) {
  .article-row:first-child {
    grid-column: auto;
  }
  .article-row .img-wrapper {
    min-height: 200px;
    background-size: cover;
  }
}
.article-single-main {
  margin: 60px 0 40px;
  margin: calc(var(--double-margin) + var(--margin)) 0 var(--double-margin);
}
.article-single-main > .wrapper {
  margin: auto;
}
.article-single-main h1 {
  font-size: 3em;
  margin: 0;
  margin-left: -5px;
  padding-bottom: 5px;
  padding-bottom: var(--quarter-margin);
  padding-top: 20px;
  padding-top: var(--margin);
  border-bottom: 4px solid #000;
  border-bottom: 4px solid var(--black);
  margin-bottom: 10px;
  margin-bottom: var(--half-margin);
}
.article-single-main .rich-text {
  max-width: 800px;
  max-width: var(--max-width);
  font-size: 1em;
  margin: auto;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 20px;
  padding: var(--margin);
  background: #f5f5f5;
  background: var(--super-light-gray);
}
.article-single-main .rich-text h2 {
  font-size: 1.5em;
  margin: 40px 0 20px;
  margin: var(--double-margin) 0 var(--margin);
}
.article-single-main .rich-text p:first-child {
  margin-top: 0;
}
.article-single-main .rich-text p:last-child {
  margin-bottom: 0;
}
.article-data {
  margin-bottom: 20px;
  margin-bottom: var(--margin);
}
@media (max-width: 670px) {
  .article-single-main .wrapper {
    width: 100%;
  }
  .article-single-main h1 {
    font-size: 2em;
  }
  .article-single-main .article-info,
  .article-single-main .rich-text {
    padding: 20px 10px;
    padding: var(--margin) var(--half-margin);
  }
  .article-single-main .rich-text {
    font-size: 1em;
  }
}
.e404 {
  margin: 0;
}
.e404 .wrapper {
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.e404 .rich-text {
  margin: 0;
}
.episode-single {
  width: 100%;
  padding-bottom: 40px;
  padding-bottom: var(--double-margin);
  -webkit-transition: color 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: color 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, color 0.2s ease;
  transition: box-shadow 0.2s ease, color 0.2s ease,
    -webkit-box-shadow 0.2s ease;
  position: relative;
}
.episode-single:not(.active) h2 {
  margin: 0;
}
.episode-single a.episode-title h2 {
  margin-bottom: 0;
  text-decoration: none;
  border-bottom: 4px solid #e8e8e8;
  border-bottom: 4px solid var(--light-gray);
  color: #000;
  color: var(--black);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding-bottom: 4px;
}
.episode-single a.episode-title {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.episode-single a.episode-title:before {
  width: 0;
  height: 100%;
  z-index: -1;
  background: #e8e8e8;
  background: var(--light-gray);
  content: '';
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.episode-single a.episode-title:hover:before {
  width: 100%;
  background: rgba(245, 255, 0, 0.5);
  background: var(--highlight-soft);
}
.episode-single a.episode-title:hover h2 {
  border-color: #000;
}
.episode-single:not(:first-child):not(.active):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
  background: var(--super-light-gray);
  height: 2px;
}
.episode-single:not(:first-child) {
  padding-top: 40px;
  padding-top: var(--double-margin);
}
.episode-single .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  max-width: none;
}
.episode-single.active {
  width: calc(100% + 20px);
  width: calc(100% + var(--margin));
  background: #fff;
  background: var(--white);
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
  margin: 0 0 20px -10px;
  margin: 0 0 var(--margin) calc(-1 * var(--half-margin));
  padding: 0;
  color: #1d1d1d;
  color: var(--dark-gray);
  cursor: default;
}
.episode-single.active:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.episode-single.active + .episode-single {
  padding-top: 20px;
  padding-top: var(--margin);
}
.episode-single.active + .episode-single:before {
  background: transparent;
}
.episode-cover {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
  margin-right: var(--margin);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.episode-cover img {
  min-height: 125px;
  background: #e8e8e8;
  background: var(--light-gray);
}
.episode-single.active .episode-cover {
  width: 30%;
}
.episode-info {
  width: calc(80% - 20px);
  width: calc(80% - var(--margin));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.active .episode-info {
  width: calc(70% - 40px);
  width: calc(70% - var(--double-margin));
}
.episode-info .episode-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.episode-info .episode-links a {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-decoration: none;
  color: #a8a8a8;
  color: var(--gray);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1em;
  text-align: center;
  padding: 4px;
  border: 2px solid #f5f5f5;
  border: 2px solid var(--super-light-gray);
  border-radius: 100px;
}
.episode-info .episode-links a:not(:last-child) {
  margin-right: 10px;
  margin-right: var(--half-margin);
}
.episode-info .episode-links a:hover {
  color: #1d1d1d;
  color: var(--dark-gray);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: none;
}
.active .episode-info .episode-links {
  padding-bottom: 20px;
  padding-bottom: var(--margin);
}
.episode-description {
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
}
.active .episode-description {
  height: auto;
  position: relative;
  padding: 10px;
  padding: var(--half-margin);
  background: #f5f5f5;
  background: var(--super-light-gray);
}
.active .episode-description:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff366a),
    color-stop(10%, #ff366a),
    color-stop(10%, #fbff00),
    color-stop(20%, #fbff00),
    color-stop(20%, #00aeff),
    color-stop(30%, #00aeff),
    color-stop(30%, #1d1d1d)
  );
  background-image: linear-gradient(
    90deg,
    #ff366a,
    #ff366a 10%,
    #fbff00 0,
    #fbff00 20%,
    #00aeff 0,
    #00aeff 30%,
    #1d1d1d 0
  );
  background-image: var(--gradient-ddp);
  height: 3px;
}
.episode-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #a8a8a8;
  color: var(--gray);
  font-size: 0.9em;
}
.episode-data span {
  padding-top: 2px;
  padding-bottom: 2px;
}
.episode-data span:not(:first-child) {
  padding-left: 10px;
  padding-left: var(--half-margin);
}
.episode-data span:not(:last-child) {
  border-right: 2px solid #e8e8e8;
  border-right: 2px solid var(--light-gray);
  padding-right: 10px;
  padding-right: var(--half-margin);
}
@media (max-width: 1000px) {
  .episode-info .episode-links a {
    font-size: 0.8em;
  }
}
@media (max-width: 670px) {
  .episode-cover,
  .episode-single.active .episode-cover {
    width: 100%;
    margin-right: 0;
  }
  .episode-cover img {
    min-height: 0;
  }
  .active .episode-info,
  .episode-info {
    width: calc(100% - 20px);
    width: calc(100% - var(--margin));
    margin: auto;
  }
  .episode-info .episode-data,
  .episode-info .episode-title {
    margin-bottom: 20px;
    margin-bottom: var(--margin);
  }
  .episode-single a.episode-title h2 {
    margin-top: 20px;
    margin-top: var(--margin);
  }
  .episode-info .episode-links a {
    width: 100%;
    font-size: 1em;
  }
  .episode-info .episode-links a:not(:first-child) {
    margin-top: 10px;
    margin-top: var(--half-margin);
  }
}
.episode-list {
  width: calc(95% - 130px);
  width: var(--wrapper-width);
  max-width: 800px;
  max-width: var(--max-width);
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar {
  font-family: Roboto Mono, monospace;
  font-family: var(--font-fixed);
  padding-bottom: 60px;
  font-size: 0.8em;
  -webkit-box-flex: column;
  -ms-flex: column;
  flex: column;
  position: absolute;
  top: 60px;
  top: calc(var(--double-margin) + var(--margin));
  left: calc(10px + 2.5%);
  left: calc(var(--half-margin) + 2.5%);
  z-index: 10;
}
.sidebar li {
  list-style: none;
}
.sidebar a {
  display: block;
  text-align: center;
  width: 30px;
  overflow: hidden;
  color: #a8a8a8;
  color: var(--gray);
  padding: 5px;
  padding: var(--quarter-margin);
  border: 2px solid #e8e8e8;
  border: 2px solid var(--light-gray);
  border-radius: 50%;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  background: var(--white);
  -webkit-transition: width 0.2s ease, color 0.2s ease, border 0.2s ease;
  transition: width 0.2s ease, color 0.2s ease, border 0.2s ease;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}
.sidebar a:hover {
  width: auto;
  color: #000;
  color: var(--black);
  border-color: #000;
  border-color: var(--black);
  border-radius: 10px;
}
.sidebar li:not(:last-child) {
  margin-bottom: 5px;
  margin-bottom: var(--quarter-margin);
}

/*# sourceMappingURL=app.map*/
