<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <meta property="og:image:height" content="1257">
        <meta property="og:image:width" content="2400">
    </head>
    <body class="container">
        <%- include('../partials/header', { podcast: podcast }); %>
        <main class='article-list-main'>
            <div class="wrapper">
                <div class="articles-info">
                    <h1 class="main-title">Blog</h1>
                    <div class="blog-description">
                        <p>
                            En el blog de Detrás del Pixel encontrarás contenido editorial y atemporal sobre eventos y exposiciones, así como del diseño, animación y herramientas utilizadas en la industria de los videojuegos. Este espacio es creado por miembros del staff, especialmente para las personas que ven a los videojuegos no solo como una forma de entretenimiento, sino como un proceso artístico especializado. 
                        </p>
                    </div>
                </div>
                <section class="article-list">
                    <% list.forEach(function(article, i){ %>
                        <%- include('../partials/article-row', {
                            article: article,
                            className: i === 0 ? 'active' : '',
                        }); %>
                <% }); %>
                </section>
            </div>
        </main>
    </body>
</html>
