.acerca-de {
  margin: calc(var(--double-margin) + var(--margin)) 0 var(--double-margin) 0;
}

.acerca-de > .wrapper {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.acerca-de .logo {
  width: 35%;
  min-height: 200px;
  max-width: 800px;
  background: var(--light-gray);
  max-width: var(--max-width);
  border: var(--half-margin) solid var(--super-light-gray);
  margin-bottom: var(--double-margin);
}

.acerca-de .rich-text {
  max-width: 800px;
  max-width: var(--max-width);
  font-size: 1em;
  margin: auto;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: var(--double-margin);
  background: var(--super-light-gray);
}

.acerca-de .rich-text p:first-child {
  margin-top: 0;
}

.acerca-de .rich-text p:last-child {
  margin-bottom: 0;
}

.acerca-de .rich-text a {
  color: var(--black);
}

.podcast-links {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  margin-bottom: var(--margin);
}

.podcast-links li {
  flex: 1 0 auto;
}

.podcast-links li:not(:last-child) {
  margin-right: var(--half-margin);
}

.podcast-links a {
  width: 100%;
  text-decoration: none;
  color: var(--gray);
  transition: all 0.2s ease;
  font-size: 1em;
  text-align: center;
  padding: var(--half-margin);
  border: 2px solid var(--super-light-gray);
  border-radius: 100px;
}

.podcast-links a:not(:last-child) {
  margin-right: var(--half-margin);
}

.podcast-links a:hover {
  color: var(--dark-gray);
  transform: translateY(-2px);
  text-shadow: none;
}

.podcast-links a:hover i.fa-twitter {
  color: var(--twitter);
}

.podcast-links a:hover i.fa-facebook {
  color: var(--facebook);
}

.podcast-links a:hover i.fa-instagram {
  color: var(--instagram);
  background: var(--instagram);
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (--medium-screen) {
  .podcast-links a {
    font-size: 0.8em;
  }
}

@media (--small-screen) {
  .acerca-de .logo {
    width: 100%;
    margin-bottom: var(--margin);
    border: none;
  }

  .podcast-links li {
    width: 100%;
  }

  .podcast-links li:not(:last-child) {
    margin-right: 0;
    margin-bottom: var(--half-margin);
  }

  .podcast-links a {
    padding: 5px;
    font-size: 1em;
  }

  .acerca-de .rich-text {
    font-size: 1em;
    padding: var(--margin) var(--half-margin) var(--margin) var(--half-margin);
  }
}
