.article-row:not(:first-child) img {
  display: none;
}

.article-row {
  position: relative;
  background: var(--light-gray);
  overflow: hidden;
}

.article-row:first-child {
  grid-column: span 3;
  display: flex;
  flex-flow: column;
}

.article-row h2 {
  text-decoration: none;
  color: var(--black);
  transition: all 0.2s ease;
  padding: 0;
  margin: 0;
  margin-bottom: var(--margin);
}

.article-row .article-date {
  color: var(--black);
  font-style: italic;
}

.article-row .gradient-white {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: var(--white-gradient);
  z-index: 10;
}

.article-row .article-info {
  width: 100%;
  overflow: hidden;
  padding: var(--margin);
}

.article-row .img-wrapper {
  display: block;
  border: 2px solid var(--light-gray);
  border-bottom: none;
  height: 500px;
  background-size: 100% auto;
  background-position: 50% 50%;
}

.article-row .rich-text {
  margin: 0;
}
@media screen and (max-width: 60em) {
  .article-row:first-child {
    grid-column: span 2;
  }
}

@media screen and (max-width: 40em) {
  .article-row:first-child {
    grid-column: auto;
  }
}
