.article-list-main {
  margin: var(--double-margin) 0 var(--double-margin) 0;
}

.article-list-main > .wrapper {
  margin: auto;
  padding-top: var(--double-margin);
  width: 80%;
  max-width: var(--max-width-wide);
}

.article-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--margin);
}

.articles-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--double-margin);
}

.articles-info h1 {
  font-size: 5em;
  margin: 0;
  margin-right: 0px;
  margin-right: var(--double-margin);
}

.articles-info p {
  font-size: 1.2em;
  margin: 0;
}
@media screen and (max-width: 60em) {
  .article-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 40em) {
  .article-list-main > .wrapper {
    width: 90%;
  }

  .articles-info {
    flex-flow: column;
    align-items: flex-start;
  }
  .articles-info h1 {
    margin-bottom: var(--margin);
  }
  .article-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
