body,
html {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background: var(--white);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}

img {
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
  color: black;
  font-size: 0.8em;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  text-align: center;
  overflow: hidden;

  align-items: center;
  justify-content: center;
}

.wrapper {
  width: var(--wrapper-width);
  max-width: var(--max-width);
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 40em) {
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 40em) {
  .hide-desktop {
    display: none !important;
  }
}
