@import './variables.css';

.episode-single {
  width: 100%;
  /* margin: 0 0 var(--double-margin) 0; */
  padding-bottom: var(--double-margin);
  transition: all 0.2s ease;
  cursor: pointer;
}

.episode-single:hover {
  color: var(--highlight-pink);
  transform: translateY(-2px);
}

.episode-single:not(:first-child) {
  padding-top: var(--double-margin);
  border-top: 4px solid var(--light-gray);
}

.episode-single .wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: none;
}

.episode-single.active {
  width: calc(100% + var(--margin));
  background: var(--white);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.33);
  margin: 0 0 var(--margin) calc(-1 * var(--half-margin));
  padding: 0;
  color: var(--dark-gray);
  border: none;
}

.episode-single.active:hover {
  transform: translateY(0);
}

.episode-single.active + .episode-single {
  padding-top: var(--margin);
  border: none;
}

.episode-cover {
  width: 20%;
  margin-right: var(--margin);
}

.episode-single.active .episode-cover {
  width: 30%;
}

.episode-info {
  width: calc(70% - var(--margin));
}

.episode-description {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.active .episode-description {
  height: auto;
  padding: var(--half-margin);
  background: var(--light-gray);
  border-top: 4px solid var(--dark-gray);
}
