.episode-list {
  width: var(--wrapper-width);
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}

@media (--small-screen) {
  .episode-list {
    width: 85%;
  }
}
