.episode-single {
  width: 100%;
  /* background: black; */
  /* margin: 0 0 var(--double-margin) 0; */
  padding-bottom: var(--double-margin);
  transition: box-shadow 0.2s ease, color 0.2s ease;
  position: relative;
}

.episode-single:not(.active) h2 {
  margin: 0;
}

.episode-single a.episode-title h2 {
  margin-bottom: 0;
  text-decoration: none;
  border-bottom: 4px solid var(--light-gray);
  color: var(--black);
  transition: all 0.2s ease;
}

.episode-single a.episode-title:hover h2 {
  border-color: black;
}

.episode-single:not(:first-child):not(.active):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--super-light-gray);
  /* background-image: var(--gradient-ddp-small); */
  height: 2px;
}
/* .episode-single:not(:first-child):not(.active):before { */

.episode-single:not(:first-child) {
  padding-top: var(--double-margin);
}

.episode-single .wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: none;
}

.episode-single.active {
  width: calc(100% + var(--margin));
  background: var(--white);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  margin: 0 0 var(--margin) calc(-1 * var(--half-margin));
  padding: 0;
  color: var(--dark-gray);
  cursor: default;
}

.episode-single.active:hover {
  transform: translateY(0);
}

.episode-single.active + .episode-single {
  padding-top: var(--margin);
}

.episode-single.active + .episode-single:before {
  background: transparent;
}

.episode-cover {
  width: 20%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-right: var(--margin);
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.episode-cover img {
  min-height: 125px;
  background: var(--light-gray);
}

.episode-single.active .episode-cover {
  width: 30%;
}

.episode-info {
  width: calc(80% - var(--margin));
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.active .episode-info {
  width: calc(70% - var(--double-margin));
}

.episode-info .episode-links {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

.episode-info .episode-links a {
  flex: 1 0 auto;
  text-decoration: none;
  color: var(--gray);
  transition: all 0.2s ease;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  padding: var(--half-margin);
  border: 2px solid var(--super-light-gray);
  border-radius: 100px;
}

.episode-info .episode-links a:not(:last-child) {
  margin-right: var(--half-margin);
}

.episode-info .episode-links a:hover {
  color: var(--dark-gray);
  transform: translateY(-2px);
  text-shadow: none;
}

.active .episode-info .episode-links {
  padding-bottom: var(--margin);
}

.episode-description {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

.active .episode-description {
  height: auto;
  position: relative;
  padding: var(--half-margin);
  background: var(--super-light-gray);
  /* border-top: 4px solid var(--dark-gray); */
}

.active .episode-description:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: var(--gradient-ddp);
  height: 3px;
}

.episode-data {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  color: var(--gray);
  font-size: 0.9em;
}

.episode-data span {
  padding-top: 2px;
  padding-bottom: 2px;
}
.episode-data span:not(:first-child) {
  padding-left: var(--half-margin);
}
.episode-data span:not(:last-child) {
  /* margin-right: var(--half-margin); */
  border-right: 2px solid var(--light-gray);
  padding-right: var(--half-margin);
}

.episode-date {
}

@media screen and (max-width: 40em) {
  .episode-cover {
    width: 30%;
    margin-right: var(--half-margin);
  }

  .episode-cover img {
    min-height: 0;
  }

  .episode-single h2 {
    font-size: 1em;
  }

  .episode-info,
  .active .episode-info {
    width: calc(70% - var(--half-margin));
  }

  .episode-info .episode-links a {
    text-align: left;
    padding: 0;
    border: none;
    border-radius: 0px;
    font-size: 0.8em;
  }

  .episode-info .episode-links a:not(:last-child) {
    margin-right: 0;
  }

  .active .episode-info .episode-links {
    padding-bottom: var(--half-margin);
  }

  .episode-single a.episode-title h2 {
    border-bottom: 3px solid var(--light-gray);
  }

  .episode-data {
    font-size: 0.7em;
  }

  .episode-data span:not(:first-child) {
    padding-left: 4px;
  }
  .episode-data span:not(:last-child) {
    padding-right: 4px;
  }
}
