#header {
  background: rgba(255, 255, 255, var(--header-background-opacity));
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: var(--half-margin);
}

#header .wrapper {
  width: 95%;
  max-width: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#header .mini-logo {
  width: 35px;
  height: auto;
  display: block;
  margin: 0;
}

#header nav {
  opacity: var(--nav-opacity);
  position: fixed;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 0);
}

#header nav ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

#header nav i {
  font-size: 0.9em;
}

#header nav li:not(:last-child) {
  margin-right: var(--margin);
}

#header nav a {
  text-decoration: none;
  color: var(--gray);
  transition: all 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
}

#header a:hover {
  color: var(--dark-gray);
  transform: translateY(-2px);
  text-shadow: none;
}

#header nav .blog:hover i {
  color: var(--highlight-pink);
}

#header nav .faq:hover i {
  color: var(--black);
}

#header nav .about:hover i {
  color: var(--highlight-blue);
}

#header .ellugar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#header .ellugar img {
  height: 18px;
}

@media screen and (max-width: 30em) {
  #header {
    font-size: 0.85em;
  }

  #header .wrapper {
    width: 100%;
  }

  #header .mini-logo {
    width: 30px;
  }

  #header nav li:not(:last-child) {
    margin-right: var(--half-margin);
  }
}

@media screen and (max-width: 25em) {
  #header {
    font-size: 0.7em;
  }

  #header .ellugar img {
    height: 10px;
  }

  #header .mini-logo {
    width: 25px;
  }

  #header nav a {
    font-size: 1.1em;
  }
}
