#header {
  /* margin: 0 0 var(--margin); */
  background: rgba(255, 255, 255, var(--header-background-opacity));
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#header .wrapper {
  width: 95%;
  max-width: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#header .mini-logo {
  width: 35px;
  height: auto;
  display: block;
  margin: 0;
}

#header nav {
  opacity: var(--nav-opacity);
}

#header nav ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

#header nav li:not(:last-child) {
  margin-right: var(--margin);
}

#header nav a {
  text-decoration: none;
  color: var(--light-gray);
  transition: all 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
}

#header a:hover {
  color: var(--dark-gray);
  transform: translateY(-2px);
}
