.home {
  margin: calc(var(--double-margin) + var(--margin)) 0 var(--double-margin) 0;
}

.main-about .wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto var(--double-margin) auto;
}

.main-about img {
  width: 50%;
  /* opacity: 0; */
  /* background: var(--dark-gray); */
}

.main-about .description {
  color: var(--dark-gray);
  display: block;
  flex: 1 0 auto;
  font-size: 1.9em;
  margin-left: var(--margin);
  width: calc(50% - var(--margin));
}

.main-about .description p:first-child {
  margin-top: 0;
}

.main-about .description p:last-child {
  margin-bottom: 0;
}

.main-about .description h1 {
  margin: 0;
  display: inline;
  font-size: 1.2em;
}

.main-about .description a {
  color: var(--black);
}
@media (--small-screen) {
  .main-about .wrapper {
    margin: 0 auto var(--margin) auto;
  }

  .main-about img {
    width: 100%;
  }

  .main-about .description {
    width: 100%;
    padding: 0;
    font-size: 1.3em;
    margin-left: 0;
    margin-top: var(--margin);
  }
}
