.main-about .wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto var(--double-margin) auto;
}

.main-about img {
  width: 50%;
  /* opacity: 0; */
  /* background: var(--dark-gray); */
}

.main-about .description {
  color: var(--dark-gray);
  display: block;
  flex: 1 0 auto;
  font-size: 2em;
  padding: var(--margin);
  width: calc(50% - var(--margin));
}

.main-about .description h1 {
  margin: 0;
  display: inline;
  font-size: 1.2em;
}

.main-about .description a {
  font-weight: 600;
  text-decoration: none;
  border-bottom: 4px solid var(--light-gray);
  color: var(--black);
  transition: all 0.2s ease;
}

.main-about .description a:hover {
  border-color: black;
}

@media screen and (max-width: 40em) {
  .main-about .wrapper {
    margin: 0 auto var(--margin) auto;
  }

  .main-about img {
    width: 100%;
  }

  .main-about .description {
    width: 100%;
    padding: 0;
    font-size: 1.3em;
  }
}
