.social {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

.social a {
  text-decoration: none;
  color: var(--light-gray);
  transition: all 0.2s ease;
  font-size: 1.2em;
  display: inline-block;
  opacity: 0.5;
}

.social i.fa-twitter {
  color: var(--twitter);
}

.social i.fa-facebook {
  color: var(--facebook);
}

.social i.fa-instagram {
  color: var(--instagram);
  background: var(--instagram);
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social a i {
  margin: 0;
}

.social li:not(:last-child) {
  margin-right: var(--margin);
}

.social a:hover {
  /* color: var(--dark-gray); */
  opacity: 1;
  transform: translateY(-1px);
}

@media screen and (max-width: 30em) {
  .social li:not(:last-child) {
    margin-right: var(--half-margin);
  }
}
