:root {
  --wrapper-width: 85%;
  --margin: 20px;
  --half-margin: calc(20px / 2);
  --double-margin: calc(20px * 2);

  --max-width: 800px;

  --black: #000000;
  --white: #ffffff;
  --light-gray: #e8e8e8;
  --dark-gray: #1d1d1d;

  --highlight-yellow: #fff200;
  --highlight-pink: #ff3168;
  --highlight-blue: #00a5ff;

  --highlight: var(--highlight-yellow);
  --highlight-soft: rgba(245, 255, 0, 0.5);

  --header-background-opacity: 0;
  --nav-opacity: 0;
}
